/* search box */
.placeHolder-sr, .placeHolder-sr::placeholder{
    color: var(--Tlight-darkGreen) !important;
    font-weight: 800;
}
/* search box */

/* Fisrst Section */
.accordion-item-sr {
    /*--bs-accordion-bg: var(--Tlight-green); COLOR OF BOX WHEN ACCORDION IS OPEN*/   /* this is background of collapse or accordion body */
	--bs-accordion-active-bg: var(--Tlight-darkGreen); /*COLOR OF COLLAPSED BUTTON WHEN ACCORDION IS OPEN*/
	--bs-accordion-btn-bg: var(--Tlight-darkGreen); /*THE COLOR OF COLLAPSED BUTTON WHEN ACCORDION IS CLOSED*/
	border: none;
}

.accordion-button-sr{
    color: var(--Tlight-titleAccordion-sr) !important;
    font-weight: 800;
}

.accordion-button-sr:focus, .accordion-button-sr:focus-visible{
    box-shadow: none !important;
}

.accordion-button-sr:not(.collapsed){
    color: var(--Tlight-titleAccordion-sr) !important;
}

/* for show and customize arrow icon and hide the default bootsrap icon */
.accordion-button-sr::after {
    content: none !important;
}

.icon-accordion-sr{
    transition: all .14s ease-in;
}
.accordion-button-sr:not(.collapsed) .icon-accordion-sr{
    transform: rotate(-90deg);
}
/* Fisrst Section */

/* Second Section */
.accordion-body-sr{
    padding: 0 !important;
}
/* striped item in each accordion */
.accordion-body-sr > div:nth-child(odd){
    background-color: var(--Tlight-green);
}

.accordion-body-sr > div:nth-child(even){
    background-color: var(--Tlight-lightGreen);
}
/* striped item in each accordion */

.title-textFind{
    font-weight: 700;
}

.description-textFind{
    color: var(--Tlight-darkGreen);
}

a, .textFinded{
    color: var(--Tlight-fg-textFind-word) !important;
    text-underline-offset: 5px;
}

/* Second Section */